h2{
            color: maroon;
            text-align: center;
            font-style: italic;
            text-shadow: 2px 2px 5px bisque;
        }
.logout{
    text-decoration: none;
    color: white;
    background-color: maroon;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}